* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blur {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url("1.png");
}
::-webkit-scrollbar {
  width: 0;
}
.pop {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20rem;
  z-index: 2;
  gap: 3rem;
}
.page {
  border-radius: 15px;
  background-color: white;
  filter: brightness(0.8);
  height: 15rem;
  width: 11rem;
  min-width: 11rem;
  box-shadow: 0 0 15px black;
  scroll-snap-align: center;
}
.h2 {
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: clamp(8ch, 21vw, 16ch);
  text-transform: capitalize;
  color: white;
  font-family: "Italianno", cursive;
}
.tem {
  display: none;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid white;
}
.title {
  text-align: start;
  font-size: clamp(2rem, 6vw, 3.5rem);
  text-transform: uppercase;
  color: white;
}
span {
  color: white;
}
.one {
  color: transparent;
  position: relative;
}
.one::before {
  content: "c";
  color: white;
  position: absolute;
  transform: translateX(300%);
  animation: wave 0.7s linear forwards;
}
@keyframes wave {
  0% {
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-btn {
  position: relative;
  height: fit-content;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.nav-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 15%;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s linear;
  bottom: 0;
}
.nav-btn:hover::before {
  width: 100%;
}
.page > .slide-image {
  display: inline-block;
  width: 100%;
  height: 55%;
  border-radius: inherit;
  position: relative;
  background-size: cover;
  background-position: center;
}
.slide-image::before {
  content: "can't load image...";
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  background-color: white;
  border-radius: inherit;
  border: 0.5px solid black;
  color: gray;
}
.page > h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
@media (max-width: 53rem) {
  .pop {
    justify-content: start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .tem {
    display: block;
    min-width: 11rem;
  }
}
.l-back {
  display: none;
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}
.l-p {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
  height: 15rem;
  width: 25rem;
}
.wp {
  position: relative;
  margin: 0 10%;
}
.wp > input {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 0.4rem;
  outline: none;
}
.l-l {
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.wp > input:focus ~ .l-l {
  transform: translateY(-70%) scale(80%);
  color: dodgerblue;
}
.wp > input:focus {
  border-color: dodgerblue;
}

.wp > input:not(:placeholder-shown) ~ .l-l {
  transform: translateY(-70%) scale(80%);
}
.log-btn {
  width: 4rem;
  height: 2rem;
  background-color: dodgerblue;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  align-self: center;
  border-radius: 15px;
  cursor: pointer;
}
.l-sign {
  gap: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
}
.link {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: dodgerblue;
  padding-bottom: 0.5rem;
}
.close {
  background-color: crimson;
  height: 1.5rem;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  width: 10%;
  right: 0;
}
@media (max-width: 900px) {
  .l-p {
    width: 20rem;
  }
}
